data/raw/*
data/processed/*
data/external/*
*.tif
*.zip
cache/*
scripts/cache/*

.vscode/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Pytest
.pytest_cache/

# Sphinx
docs/build/
docs/_build/
docs/cache/

# Data
data/
*.nc
*.tif

# OS
.DS_Store
Thumbs.db
